body{
	padding: 50px;
}
.chessBorad{
	width: 320px;
	height: 320px;
	border: 2px solid #ddd;
}
.row{
	width: 12.5%;
	height: 100%;
	float: left;
}
.white{
	height: 12.5%;
	background: white;
}
.black{
	height: 12.5%;
	background: black;
}